<head>
    <meta charset="utf-8">
    <meta name="referrer" content="no-referrer">
    <link rel="icon" href="data:,">

    <title>{{ site.title }}</title>

    <meta name="description" content=" ">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link crossorigin="anonymous" rel="stylesheet" href={{ "style/bootstrap.min.css" | relative_url }}>
    <link href="https://framasoft.org/main.a9da1f299d0e02dcb37e.css" rel="stylesheet" type="text/css" />
    <link crossorigin="anonymous" rel="stylesheet" href="{{ "style/layout.css" | relative_url }}">

    <link rel="icon" type="image/png" href="https://framasoft.org/nav/img/icons/favicon/sites/libre.png">
    <link rel="apple-touch-icon" type="image/png" href="https://framasoft.org/nav/img/icons/ati/sites/libre.png">

    {%- include layout-page-styles.html -%}

    {%- include layout-page-scripts.html -%}

</head>
